@import "tailwindcss";

:root {
  --background: #fcfbf9;

  --foreground: #171717;
  --color-alabaster: #fcfbf9;
  --color-primary: #000000;
  --color-secondary: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-alabaster: var(--color-alabaster);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-cormorant);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-alabaster);
  color: var(--color-primary);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}